main {
  border: 5px solid black;
  margin: 100px auto;
  position: relative;
}

.paddle {
  background-color: green;
  position: absolute;
}

.ball {
  border-radius: 50%;
  background-color: black;
  position: absolute;
}

.brick {
  border-radius: 3px;
  background-color: brown;
  position: absolute;
}
